Importamos las librer√≠as:

In [1]:
#Importamos librerias

import camelot
import pandas as pd
import datetime
from funciones import tabla_a_datos, campos_calculados
import glob

Con *camelot* leemos el pdf que le digamos y extraemos las tablas en bruto:

In [2]:
## Datos a importar

file = 'NATACION_BENJAMIN_4_RESULTADOS_2122.pdf'
tablas = camelot.read_pdf(file, pages='all', flavor='stream', split_text='\n')
tablas.n

14

In [40]:
t0=tablas[0].df[tablas[0].df[0]!='']
t0=pd.concat([t0[[0]],t0[1].str.split('\n',expand=True), t0[[2,3,4]]], axis =1).T.reset_index().T[5:]

In [3]:
t1=tablas[1].df
t1[9]=t1[0].apply(lambda x: x.split('\n')[0])
t1[10]=t1[0].apply(lambda x: x.split('\n')[1] if len(x.split('\n'))==2 else '')+t1[1]+' '+t1[2]+' '+t1[3]+ \
 +t1[4].apply(lambda x: x.split('\n')[0] if len(x.split('\n'))==2 else '')
t1[11]=t1[4].apply(lambda x: x.split('\n')[0] if len(x.split('\n'))==1 else x.split('\n')[1])
t1[10]=t1[10].replace({'MENDEZ SALVA DOR, Carlos':'MENDEZ SALVADOR, Carlos',
                       'BARRIEN DOS ZA MORA,Saul':'BARRIENDOS ZAMORA, Saul',
                      'MARTIN FERNAN DEZ, Leo':'MARTIN FERNANDEZ, Leo',
                      'MOSTEO HIDAL GO, Carlos':'MOSTEO HIDALGO, Carlos',
                      'JIMENEZ LAFUE NTE, Daniel':'JIMENEZ LAFUENTE, Daniel',
                      'BERDEJ O LOBE RA, Guillermo':'BERDEJO LOBERA, Guillermo'
                      })
t1=t1[[9,10,11,5,7,8]].T.reset_index(drop=True).T
t1
# tablas[0].df

,0,1,2,3,4,5
0,Puntos: FINA 2,021,,,,
1,,,AN,,Tiempo,Pts
2,1.,"PETISME ROYO, Lucas",10,E.M. El Olivar,3:05.03,207
3,,50m: 38.63 38.63,100m:,150m:,3:05.03,
4,2.,"MENDEZ SALVADOR, Carlos",10,C.N. Teruel,3:06.84,202
5,,50m: 42.82 42.82,100m:,150m:,3:06.84,
6,3.,"RAMOS OLMOS, Diego",10,P. San Agustin,3:11.88,186
7,,50m: 44.53 44.53,100m:,150m:,3:11.88,
8,4.,"BARRIENDOS ZAMORA, Saul",10,C.N. Helios,3:12.40,185
9,,50m: 41.50 41.50,100m:,150m:,3:12.40,
10,5.,"MARTIN FERNANDEZ, Leo",10,E.M. El Olivar,3:14.13,180
11,,50m: 47.45 47.45,100m:,150m:,3:14.13,
12,6.,"MOSTEO HIDALGO, Carlos",10,E.M. El Olivar,3:17.75,170
13,,50m: 43.25 43.25,100m:,150m:,3:17.75,
14,7.,"RAMOS OLMOS, Marcos",10,P. San Agustin,3:20.28,164
15,,50m: 46.69 46.69,100m:,150m:,3:20.28,
16,8.,"JIMENEZ LAFUENTE, Daniel",10,C.N. Helios,3:23.80,155
17,,50m: 47.32 47.32,100m:,150m:,3:23.80,
18,9.,"BERDEJO LOBERA, Guillermo",10,E.M. El Olivar,3:24.98,152
19,,50m: 47.95 47.95,100m:,150m:,3:24.98,

Modificamos las tablas para que tengan el formato que nos interese:

In [4]:
# Nos falta esta tabla

# tabla_perdida=pd.read_csv('tabla_perdida.csv',dtype=str, header=None).T.reset_index(drop=True).T
# dic=tabla_perdida.to_dict()

dic={0: {0: '1.',
  1: '2.',
  2: '3.',
  3: '4.',
  4: '5.',
  5: '6.',
  6: '7.',
  7: '8.',
  8: '9.',
  9: '10.',
  10: '11.',
  11: '12.',
  12: '13.',
  13: '14.',
  14: '15.',
  15: '16.',
  16: '17.',
  17: '18.',
  18: '19.',
  19: '20.'},
 1: {0: 'RODRIGUEZ SOLANAS, Ines',
  1: 'MALO SANCHEZ, Paula',
  2: 'MALON CANTIN, Sofia',
  3: 'ESCORIHUELA AZNAR, Claudia',
  4: 'GAINSINSKY CASTILLO, Michelle',
  5: 'MARTIN SORIA, Claudia',
  6: 'LEAL PELEGRIN, Julieta',
  7: 'DEL BARRIO MIGUEL, Vera',
  8: 'MARTINEZ MARQUES, Aimar Teresa',
  9: 'RODRIGO LORENTE, Claudia',
  10: 'ZAPATA FERNANDEZ, Jara',
  11: 'SALUE√ëA LUCHA, Vera',
  12: 'GIMENO GOMEZ, Yaretzi Izel',
  13: 'GALAY TORRIJO, Celia',
  14: 'REMACHA ROYO, Itziar',
  15: 'BORREGUERO PEDREIRA, Leire',
  16: 'MARIN PELEGRIN, Julia',
  17: 'GARCIA RODRIGUEZ, Aroa',
  18: 'IBA√ëEZ OTAL, Alba',
  19: 'MATA AGUELA, Candela'},
 2: {0: '13',
  1: '13',
  2: '13',
  3: '13',
  4: '13',
  5: '13',
  6: '13',
  7: '13',
  8: '13',
  9: '13',
  10: '13',
  11: '13',
  12: '13',
  13: '13',
  14: '13',
  15: '13',
  16: '13',
  17: '13',
  18: '13',
  19: '13'},
 3: {0: 'E.M. El Olivar',
  1: 'C.N. Helios',
  2: 'C.N. Helios',
  3: 'E.M. El Olivar',
  4: 'C.N. Helios',
  5: 'Stadium Venecia',
  6: 'E.M. El Olivar',
  7: 'Stadium Venecia',
  8: 'Stadium Venecia',
  9: 'Stadium Venecia',
  10: 'Stadium Venecia',
  11: 'C.N. Helios',
  12: 'P. San Agustin',
  13: 'Stadium Venecia',
  14: 'E.M. El Olivar',
  15: 'E.M. El Olivar',
  16: 'H2ogo C.N.',
  17: 'C.N. Helios',
  18: 'Stadium Venecia',
  19: 'E.M. El Olivar'},
 4: {0: '1:46.80',
  1: '1:50.73',
  2: '1:50.95',
  3: '1:51.09',
  4: '1:51.66',
  5: '1:54.14',
  6: '1:54.91',
  7: '1:54.99',
  8: '1:57.81',
  9: '2:02.66',
  10: '2:05.91',
  11: '2:06.10',
  12: '2:09.37',
  13: '2:10.22',
  14: '2:11.86',
  15: '2:16.91',
  16: '2:18.16',
  17: '2:26.91',
  18: '2:27.47',
  19: '2:40.41'},
 5: {0: '148',
  1: '132',
  2: '132',
  3: '131',
  4: '129',
  5: '121',
  6: '118',
  7: '118',
  8: '110',
  9: '97',
  10: '90',
  11: '89',
  12: '83',
  13: '81',
  14: '78',
  15: '70',
  16: '68',
  17: '56',
  18: '56',
  19: '43'}}



tabla_perdida=pd.DataFrame(dic)

tabla_perdida

      0                               1   2                3        4    5
0    1.         RODRIGUEZ SOLANAS, Ines  13   E.M. El Olivar  1:46.80  148
1    2.             MALO SANCHEZ, Paula  13      C.N. Helios  1:50.73  132
2    3.             MALON CANTIN, Sofia  13      C.N. Helios  1:50.95  132
3    4.      ESCORIHUELA AZNAR, Claudia  13   E.M. El Olivar  1:51.09  131
4    5.   GAINSINSKY CASTILLO, Michelle  13      C.N. Helios  1:51.66  129
5    6.           MARTIN SORIA, Claudia  13  Stadium Venecia  1:54.14  121
6    7.          LEAL PELEGRIN, Julieta  13   E.M. El Olivar  1:54.91  118
7    8.         DEL BARRIO MIGUEL, Vera  13  Stadium Venecia  1:54.99  118
8    9.  MARTINEZ MARQUES, Aimar Teresa  13  Stadium Venecia  1:57.81  110
9   10.        RODRIGO LORENTE, Claudia  13  Stadium Venecia  2:02.66   97
10  11.          ZAPATA FERNANDEZ, Jara  13  Stadium Venecia  2:05.91   90
11  12.             SALUE√ëA LUCHA, Vera  13      C.N. Helios  2:06.10   89
12  13.      GIMENO GOMEZ, Yaretzi Izel  13   P. San Agustin  2:09.37   83
13  14.            GALAY TORRIJO, Celia  13  Stadium Venecia  2:10.22   81
14  15.            REMACHA ROYO, Itziar  13   E.M. El Olivar  2:11.86   78
15  16.      BORREGUERO PEDREIRA, Leire  13   E.M. El Olivar  2:16.91   70
16  17.           MARIN PELEGRIN, Julia  13       H2ogo C.N.  2:18.16   68
17  18.          GARCIA RODRIGUEZ, Aroa  13      C.N. Helios  2:26.91   56
18  19.               IBA√ëEZ OTAL, Alba  13  Stadium Venecia  2:27.47   56
19  20.            MATA AGUELA, Candela  13   E.M. El Olivar  2:40.41   43

In [5]:
# Nos falta esta  otra tabla

# tabla_perdida2=pd.read_csv('tabla_perdida2.csv',dtype=str, header=None).T.reset_index(drop=True).T
# dic=tabla_perdida2.to_dict()
# dic

dic={0: {0: '1.',
  1: '2.',
  2: '3.',
  3: '4.',
  4: '5.',
  5: '6.',
  6: '7.',
  7: '8.',
  8: '9.',
  9: '10.',
  10: '11.',
  11: '12.',
  12: '13.',
  13: '14.'},
 1: {0: 'PETISME ROYO, Lucas',
  1: 'BARRIENDOS ZAMORA, Saul',
  2: 'MENDEZ SALVADOR, Carlos',
  3: 'MOSTEO HIDALGO, Carlos',
  4: 'RAMOS OLMOS, Marcos',
  5: 'SANZ BEJENARIU, Diego',
  6: 'RAMOS OLMOS, Diego',
  7: 'RUBIO RAKITIN, Larion Francisco',
  8: 'REVUELTO TELLO, Alejandro',
  9: 'JIMENEZ LAFUENTE, Daniel',
  10: 'BERDEJO LOBERA, Guillermo',
  11: 'SANCHEZ MERCADO, Adrian',
  12: 'MARTIN FERNANDEZ, Leo',
  13: 'VICENTE BARRA, Guillen'},
 2: {0: '10',
  1: '10',
  2: '10',
  3: '10',
  4: '10',
  5: '10',
  6: '10',
  7: '10',
  8: '10',
  9: '10',
  10: '10',
  11: '10',
  12: '10',
  13: '10'},
 3: {0: 'E.M. El Olivar',
  1: 'C.N. Helios',
  2: 'C.N. Teruel',
  3: 'E.M. El Olivar',
  4: 'P. San Agustin',
  5: 'C.N. Iz Cuarte',
  6: 'P. San Agustin',
  7: 'C.N. Helios',
  8: 'E.M. El Olivar',
  9: 'C.N. Helios',
  10: 'E.M. El Olivar',
  11: 'Stadium Casablanca',
  12: 'E.M. El Olivar',
  13: 'H2ogo C.N.'},
 4: {0: '37.34',
  1: '39.63',
  2: '40.60',
  3: '41.67',
  4: '42.25',
  5: '43.04',
  6: '44.75',
  7: '44.95',
  8: '45.78',
  9: '47.25',
  10: '48.56',
  11: '49.11',
  12: '49.84',
  13: '50.44'},
 5: {0: '197',
  1: '165',
  2: '153',
  3: '142',
  4: '136',
  5: '129',
  6: '114',
  7: '113',
  8: '107',
  9: '97',
  10: '89',
  11: '86',
  12: '83',
  13: '80'}}


tabla_perdida2=pd.DataFrame(dic)

tabla_perdida2

      0                                1   2                   3      4    5
0    1.              PETISME ROYO, Lucas  10      E.M. El Olivar  37.34  197
1    2.          BARRIENDOS ZAMORA, Saul  10         C.N. Helios  39.63  165
2    3.          MENDEZ SALVADOR, Carlos  10         C.N. Teruel  40.60  153
3    4.           MOSTEO HIDALGO, Carlos  10      E.M. El Olivar  41.67  142
4    5.              RAMOS OLMOS, Marcos  10      P. San Agustin  42.25  136
5    6.            SANZ BEJENARIU, Diego  10      C.N. Iz Cuarte  43.04  129
6    7.               RAMOS OLMOS, Diego  10      P. San Agustin  44.75  114
7    8.  RUBIO RAKITIN, Larion Francisco  10         C.N. Helios  44.95  113
8    9.        REVUELTO TELLO, Alejandro  10      E.M. El Olivar  45.78  107
9   10.         JIMENEZ LAFUENTE, Daniel  10         C.N. Helios  47.25   97
10  11.        BERDEJO LOBERA, Guillermo  10      E.M. El Olivar  48.56   89
11  12.          SANCHEZ MERCADO, Adrian  10  Stadium Casablanca  49.11   86
12  13.            MARTIN FERNANDEZ, Leo  10      E.M. El Olivar  49.84   83
13  14.           VICENTE BARRA, Guillen  10          H2ogo C.N.  50.44   80

In [6]:
# Nos falta esta  otra tabla

# tabla_perdida3=pd.read_csv('tabla_perdida3.csv',dtype=str, header=None).T.reset_index(drop=True).T
# dic=tabla_perdida3.to_dict()
# dic

dic={0: {0: '1.', 1: '2.', 2: '3.', 3: '4.', 4: '5.', 5: '6.', 6: '7.', 7: '8.'},
 1: {0: 'CASTILLO PRADO, Neus',
  1: 'LAMBAN GAVE, Ines',
  2: 'BERGES ALAEZ, Africa',
  3: 'SIMON HEREDIA, Ariadna',
  4: 'ALBAR LABRADOR, Pilar',
  5: 'BARRACHINA ARTAZCOZ, Nahia',
  6: 'IOVU, Mireya',
  7: 'GIL FUENTES, Izarbe'},
 2: {0: '12', 1: '12', 2: '12', 3: '12', 4: '12', 5: '12', 6: '12', 7: '12'},
 3: {0: 'E.M. El Olivar',
  1: 'P. San Agustin',
  2: 'E.M. El Olivar',
  3: 'E.M. El Olivar',
  4: 'E.M. El Olivar',
  5: 'E.M. El Olivar',
  6: 'P. San Agustin',
  7: 'Stadium Venecia'},
 4: {0: '42.56',
  1: '42.64',
  2: '43.15',
  3: '47.57',
  4: '47.88',
  5: '50.54',
  6: '50.72',
  7: '50.89'},
 5: {0: '187',
  1: '186',
  2: '180',
  3: '134',
  4: '132',
  5: '112',
  6: '111',
  7: '109'}}


tabla_perdida3=pd.DataFrame(dic)

tabla_perdida3

    0                           1   2                3      4    5
0  1.        CASTILLO PRADO, Neus  12   E.M. El Olivar  42.56  187
1  2.           LAMBAN GAVE, Ines  12   P. San Agustin  42.64  186
2  3.        BERGES ALAEZ, Africa  12   E.M. El Olivar  43.15  180
3  4.      SIMON HEREDIA, Ariadna  12   E.M. El Olivar  47.57  134
4  5.       ALBAR LABRADOR, Pilar  12   E.M. El Olivar  47.88  132
5  6.  BARRACHINA ARTAZCOZ, Nahia  12   E.M. El Olivar  50.54  112
6  7.                IOVU, Mireya  12   P. San Agustin  50.72  111
7  8.         GIL FUENTES, Izarbe  12  Stadium Venecia  50.89  109

In [7]:
# Modificamos la tabla 9
tablas[9].df.loc[0:3,4]=['1:04.56','1:06.00','1:06.26','1:09.02']
tablas[9].df.loc[0:3,5]=['53','50','49','44']
tablas[9].df

      0                           1   2                   3        4    5
0   11.         SALUE√ëA LUCHA, Vera  13         C.N. Helios  1:04.56   53
1   12.        GALAY TORRIJO, Celia  13     Stadium Venecia  1:06.00   50
2   13.           IBA√ëEZ OTAL, Alba  13     Stadium Venecia  1:06.26   49
3   14.  GIMENO GOMEZ, Yaretzi Izel  13      P. San Agustin  1:09.02   44
4   DSQ      GARCIA RODRIGUEZ, Aroa  13         C.N. Helios      NaN  NaN
5   DSQ       MARIN PELEGRIN, Julia  13          H2ogo C.N.      NaN  NaN
6   DSQ        MARIN PELEGRIN, Sara  13          H2ogo C.N.      NaN  NaN
7   DSQ        PEREZ BOSQUED, Nuria  13     Stadium Venecia      NaN  NaN
8   DSQ    RODRIGO LORENTE, Claudia  13     Stadium Venecia      NaN  NaN
9   DSQ     IZQUIERDO GRACIA, Maria  13     Stadium Venecia      NaN  NaN
10  DNS        ABAD PELLEJERO, Ines  13  Stadium Casablanca      NaN  NaN

In [42]:
# Liga Benjamin

competicion = 'Benjam√≠n, jornada 4'
lugar = 'E.M. El Olivar'
fecha = datetime.datetime(2022,2,20)


# Modifico tabla 4, que hay un error en ella
# df4=tablas[4].df.copy()
# df4[1][3]=df4[1][3]+'a'
# df4[2][3]=df4[2][3].split('\n')[1]


lista_df=[
tabla_a_datos(t0, fila_datos = 0, fecha=fecha, prueba='100m Libres', m_f='M', tipo=1, competicion=competicion, lugar= lugar),
# tabla_a_datos(t1[t1[0]!=''], fila_datos = 1, fecha=fecha, prueba='200m Estilos', m_f='M', tipo=1, competicion=competicion, lugar= lugar),
# tabla_a_datos(tablas[2].df.iloc[2:18].reset_index()[[0,1,2,3,5,6]].T.reset_index().T, fila_datos = 1, fecha=fecha, prueba='200m Estilos', m_f='M', tipo=3, competicion=competicion, lugar= lugar),
# tabla_a_datos(tabla_perdida, fila_datos = 0, fecha=fecha, prueba='100m Estilos', m_f='F', tipo=1, competicion=competicion, lugar= lugar),
# tabla_a_datos(tablas[5].df.drop(4, axis=1).iloc[4:], fila_datos = 1, fecha=fecha, prueba='200m Estilos', m_f='F', tipo=3, competicion=competicion, lugar= lugar),
# tabla_a_datos(tablas[6].df, fila_datos = 1, fecha=fecha, prueba='50m Mariposa', m_f='M', tipo=1, competicion=competicion, lugar= lugar),
# tabla_a_datos(tabla_perdida2, fila_datos = 0, fecha=fecha, prueba='50m Mariposa', m_f='M', tipo=1, competicion=competicion, lugar= lugar),
# tabla_a_datos(tablas[7].df, fila_datos = 1, fecha=fecha, prueba='50m Mariposa', m_f='M', tipo=1, competicion=competicion, lugar= lugar),
# tabla_a_datos(tablas[8].df, fila_datos = 1, fecha=fecha, prueba='50m Mariposa', m_f='F', tipo=1, competicion=competicion, lugar= lugar),
# tabla_a_datos(tablas[9].df.iloc[0:4], fila_datos = 0, fecha=fecha, prueba='50m Mariposa', m_f='F', tipo=1, competicion=competicion, lugar= lugar),
# tabla_a_datos(tabla_perdida3, fila_datos = 0, fecha=fecha, prueba='50m Mariposa', m_f='F', tipo=1, competicion=competicion, lugar= lugar),
# tabla_a_datos(tablas[10].df, fila_datos = 1, fecha=fecha, prueba='50m Mariposa', m_f='F', tipo=1, competicion=competicion, lugar= lugar),
]

for d in lista_df :
    display(d)
    
    
campos_calculados(pd.concat(lista_df)).to_csv('competicion_'+competicion+'.csv', index=False)

,Puesto,Nombre,Anyo_nac,Club,Tiempo,Pts,Fecha,Prueba,Piscina,M_F,Competicion,Lugar
0,1.,"MARCO LOPEZ, Leo",11,C.N. Helios,1:14.26,221,2022-02-20,100m Libres,25m,M,"Benjam√≠n, jornada 4",E.M. El Olivar
1,2.,"RODRIGUEZ ARTIEDA, Marcelo",11,C.N. Helios,1:18.56,187,2022-02-20,100m Libres,25m,M,"Benjam√≠n, jornada 4",E.M. El Olivar
2,3.,"MODREGO MARQUETA, Alejandro",11,Stadium Venecia,1:18.68,186,2022-02-20,100m Libres,25m,M,"Benjam√≠n, jornada 4",E.M. El Olivar
3,4.,"CAVERO GARCIA, Daniel",11,Stadium Casablanca,1:19.50,180,2022-02-20,100m Libres,25m,M,"Benjam√≠n, jornada 4",E.M. El Olivar
4,5.,"LOPEZ VELEZ, Marcos",11,E.M. El Olivar,1:20.72,172,2022-02-20,100m Libres,25m,M,"Benjam√≠n, jornada 4",E.M. El Olivar
5,6.,"SERRABLO HUESO, Diego",11,Stadium Venecia,1:21.62,166,2022-02-20,100m Libres,25m,M,"Benjam√≠n, jornada 4",E.M. El Olivar
6,7.,"BESCOS RODRIGUEZ, Jesus",11,E.M. El Olivar,1:22.10,164,2022-02-20,100m Libres,25m,M,"Benjam√≠n, jornada 4",E.M. El Olivar
7,8.,"TATARU, Adrian Stefan",11,E.M. El Olivar,1:23.95,153,2022-02-20,100m Libres,25m,M,"Benjam√≠n, jornada 4",E.M. El Olivar
8,9.,"MARTINEZ ANTUNEZ, Roman",11,Stadium Venecia,1:25.41,145,2022-02-20,100m Libres,25m,M,"Benjam√≠n, jornada 4",E.M. El Olivar
9,10.,"ANTONENKO ANTONENKO, Yehor",11,H2ogo C.N.,1:25.42,145,2022-02-20,100m Libres,25m,M,"Benjam√≠n, jornada 4",E.M. El Olivar
10,11.,"BELTRAN VIEJO, Arturo",11,E.M. El Olivar,1:26.42,140,2022-02-20,100m Libres,25m,M,"Benjam√≠n, jornada 4",E.M. El Olivar
11,12.,"ANGUAS FELIZ, Aquiles",11,E.M. El Olivar,1:27.50,135,2022-02-20,100m Libres,25m,M,"Benjam√≠n, jornada 4",E.M. El Olivar
12,13.,"FANDOS MARCO, Carlos",11,E.M. El Olivar,1:28.38,131,2022-02-20,100m Libres,25m,M,"Benjam√≠n, jornada 4",E.M. El Olivar
13,14.,"SANCHO GRAUS, Bruno",11,E.M. El Olivar,1:28.48,131,2022-02-20,100m Libres,25m,M,"Benjam√≠n, jornada 4",E.M. El Olivar
14,15.,"BEAMONTE MARTIN, Diego",11,P. San Agustin,1:31.83,117,2022-02-20,100m Libres,25m,M,"Benjam√≠n, jornada 4",E.M. El Olivar
15,16.,"ROMERO SANTOS, Kilian",11,C.N. Helios,1:33.69,110,2022-02-20,100m Libres,25m,M,"Benjam√≠n, jornada 4",E.M. El Olivar
16,17.,"ALCALDE MARTINEZ, Martin",11,C.N. Helios,1:36.13,102,2022-02-20,100m Libres,25m,M,"Benjam√≠n, jornada 4",E.M. El Olivar
17,18.,"NAVARRO PARDOS, Francisco",11,H2ogo C.N.,1:37.09,99,2022-02-20,100m Libres,25m,M,"Benjam√≠n, jornada 4",E.M. El Olivar
18,19.,"PELEGRIN RUIZ, Raul",11,C.N. Helios,1:38.69,94,2022-02-20,100m Libres,25m,M,"Benjam√≠n, jornada 4",E.M. El Olivar
19,20.,"GARCIA DE LA SERNA, Alejandro",11,C.N. Helios,1:43.72,81,2022-02-20,100m Libres,25m,M,"Benjam√≠n, jornada 4",E.M. El Olivar
20,21.,"BARCELONA PERALES, Beltran",11,E.M. El Olivar,1:47.42,73,2022-02-20,100m Libres,25m,M,"Benjam√≠n, jornada 4",E.M. El Olivar
21,22.,"JIMENEZ VICO, Pedro",11,C.N. Helios,1:56.60,57,2022-02-20,100m Libres,25m,M,"Benjam√≠n, jornada 4",E.M. El Olivar
22,23.,"QUINTANILLA CARBAJO, Amaro",11,H2ogo C.N.,2:05.83,45,2022-02-20,100m Libres,25m,M,"Benjam√≠n, jornada 4",E.M. El Olivar

Hacemos un resumen de los datos contando el n√∫mero de nadadores por club:

In [43]:
# Resumen de datos

df=pd.read_csv('competicion_'+competicion+'.csv')

#df.pivot_table(df, values = 'Nombre',index='M_F', columns=['Club','Anyo_nac'], aggfunc=lambda x: len(x.unique()))
df.pivot_table(values = 'Nombre', columns='M_F', index=['Club','Anyo_nac'], aggfunc=lambda x: len(x.unique())).unstack().fillna(0).astype(int)

M_F                 M
Anyo_nac           11
Club
C.N. Helios         7
E.M. El Olivar      8
H2ogo C.N.          3
P. San Agustin      1
Stadium Casablanca  1
Stadium Venecia     3

Por √∫ltimo, a√±adimos todas las competiciones al archivo *base_datos.csv*:

In [94]:
# Actualizamos la base de datos

import glob

# Buscamos todos los ficheros csv correspondientes a competiciones los concatenamos y los grabamos en base de datos

lista_competiciones = glob.glob('competicion*.csv')
# lista_competiciones.reverse()
lista_competiciones.sort()
df=pd.concat([pd.read_csv(comp) for comp in lista_competiciones])
# df.sort_values(by='Fecha').to_csv('base_datos.csv', index=False)
df.to_csv('base_datos.csv', index=False)

# lista_competiciones.reverse()
lista_competiciones

['competicion_Benjam√≠n, jornada 1.csv',
 'competicion_Benjam√≠n, jornada 2.csv',
 'competicion_Benjam√≠n, jornada 3.csv',
 'competicion_Benjam√≠n, jornada 4.csv']