Importamos las librer√≠as:

In [1]:
#Importamos librerias

import camelot
import pandas as pd
import datetime
from funciones import tabla_a_datos, campos_calculados, separar_columna, juntar_columnas
import glob

Con *camelot* leemos el pdf que le digamos y extraemos las tablas en bruto:

In [63]:
## Datos a importar

file = 'NATACION_BENJAMIN_5_RESULTADOS_2122.pdf'
tablas = camelot.read_pdf(file, pages='all', flavor='stream', split_text='\n')
tablas.n

18

In [99]:
t0=tablas[0].df.copy()
t0.loc[10][1]=t0.loc[10][1]+'o'
t0.loc[10][2]='11'
t0=t0[t0[0]!=''][4:]

t1 = tablas[2].df[tablas[2].df[0]!=''][3:].drop(8,axis=1).T.reset_index(drop=True).T
t1 = separar_columna(separar_columna(t1,0).fillna(value=''),0,' ').fillna(value='')
t1 = separar_columna(separar_columna(t1,6).fillna(value=''),0,' ').fillna(value='')
# t1[t1[6]=='10',7]='10'
# t1 = juntar_columnas(juntar_columnas(t1,1,6),3,4)
t1

,0,1,2,3,4,5,6,7,8,9,10,11
3,1.,R,AMOS,"OLMOS,",Diego,,10,,P. Sa,n Agustin,2:52.11,231
5,2.,,MENDEZ,SALVA,"DOR, Ca",rlos,10,,C.N. T,eruel,2:52.82,228
7,3.,,MARTIN,FERNAN,"DEZ, Le",o,10,,E.M.,El Olivar,2:59.11,205
9,4.,P,ETISME,"ROYO,",Lucas,,10,,E.M.,El Olivar,3:03.06,192
11,5.,B,ARRIEN,DOS ZA,"MORA,",Saul,10,,C.N. H,elios,3:03.38,191
13,6.,R,AMOS,"OLMOS,",Marcos,,10,,P. Sa,n Agustin,3:07.48,178
15,7.,S,ANCHE,Z MERC,"ADO, Ad",rian,10,,Stadiu,m Casablanca,3:08.44,176
17,8.,,GREGOR,IO FER,NANDEZ,", Enriqu",e,10,P. Sa,n Agustin,3:09.64,172
19,9.,,MOSTEO,HIDAL,"GO, Carl",os,10,,E.M.,El Olivar,3:10.66,170
21,10.,B,ERDEJ,O LOBE,"RA, Guill",ermo,10,,E.M.,El Olivar,3:12.82,164
23,11.,R,EVUEL,TO TELL,"O, Aleja",ndro,10,,E.M.,El Olivar,3:16.50,155
25,12.,S,ANZ BE,JENARI,"U, Diego",,10,,C.N. I,z Cuarte,3:23.36,140
27,13.,R,UBIO R,"AKITIN,",Larion Fr,ancisco,10,,C.N. H,elios,3:25.80,135
29,14.,V,ARGAS,CIRUE,"LOS, Car",los Nico,las,10,E.M.,El Olivar,3:26.48,133
31,15.,S,ANTAM,ARIA FE,RRERU,"ELA, Ca",rlos,10,P. Sa,n Agustin,3:27.02,132
33,16.,V,ICENTE,BARRA,", Guillen",,10,,H2ogo,C.N.,3:28.72,129
35,17.,J,IMENEZ,LAFUE,"NTE, Da",niel,10,,C.N. H,elios,3:29.15,128
37,18.,R,AZABA,L INGEL,"MO, Ang",el,10,,E.M.,El Olivar,3:31.06,125
39,19.,A,GON LO,"PEZ, Ja",vier,,10,,Stadiu,m Casablanca,3:40.31,110

In [102]:
t4=tablas[8].df

Modificamos las tablas

In [4]:
t0=separar_columna(tablas[0].df[tablas[0].df[0]!=''][4:],1)
t1 = tablas[1].df[tablas[1].df[0]!=''][3:].drop(8,axis=1).T.reset_index(drop=True).T
t1 = separar_columna(separar_columna(t1,0).fillna(value=''),0,' ').fillna(value='')
t1 = juntar_columnas(juntar_columnas(t1,1,6),3,4)
t1[1]=t1[1].replace({'MENDEZSALVADOR, Carlos':'MENDEZ SALVADOR, Carlos',
                       'PETISMEROYO, Lucas':'PETISME ROYO, Lucas',
                     'RAMOS OLMOS,Diego':'RAMOS OLMOS, Diego',
                      'SANCHEZMERCADO, Adrian':'SANCHEZ MERCADO, Adrian',
                      'MOSTEOHIDALGO, Carlos':'MOSTEO HIDALGO, Carlos',
                      'BERDEJOLOBERA, Guillermo':'BERDEJO LOBERA, Guillermo',
                     'GREGORIO FERNANDEZ,Enrique':'GREGORIO FERNANDEZ, Enrique',
                      'JIMENEZLAFUENTE, Daniel':'JIMENEZ LAFUENTE, Daniel',
                     'SANCHEZSAEZ, Alejandro':'SANCHEZ SAEZ, Alejandro',
                     'SANZ BEJENARIU,Diego':'SANZ BEJENARIU, Diego',
                     'VICENTEBARRA,Guillen':'VICENTE BARRA, Guillen',
                     'RAZABALINGELMO, Angel':'RAZABAL INGELMO, Angel',
                     'NEVADOPEREZ, Lorien':'NEVADO PEREZ, Lorien'                  
                      })
t1[3]=t1[3].replace({'C.N.Helios':'C.N. Helios',
                       'P. SanAgustin':'P. San Agustin',
                      })

# t1b=pd.read_csv('tabla_perdida_20_02_22.csv',dtype=str, header=None).T.reset_index(drop=True).T
# t1b.to_dict()
dic ={0: {0: '21.', 1: '22.', 2: '23.', 3: '24.'},
 1: {0: 'SANTAMARIA FERRERUELA, Carlos',
  1: 'SANCHEZ DUARTE, Rodrigo',
  2: 'CUEZVA JORDAN, Hector',
  3: 'PEREZ DOMINCHE, Oriol'},
 2: {0: '10', 1: '10', 2: '10', 3: '10'},
 3: {0: 'P. San Agustin',
  1: 'Stadium Venecia',
  2: 'Stadium Venecia',
  3: 'C.N. Helios'},
 4: {0: '3:27.36', 1: '3:34.13', 2: '3:34.20', 3: '3:53.64'},
 5: {0: '110', 1: '99', 2: '99', 3: '76'}}
t1b=pd.DataFrame(dic)

t2=tablas[2].df[tablas[2].df[0]!=''][2:]
# separar_columna(t2,2).fillna(value='').loc[17]
t2.loc[17][1]='MARTINEZ MARQUES, Aimar Teresa'
t2.loc[17][2]='13'

# t2b=pd.read_csv('tabla_perdida2_20_02_22.csv',dtype=str, header=None).T.reset_index(drop=True).T
# t2b.to_dict()
dic={0: {0: '10.',
  1: '11.',
  2: '12.',
  3: '13.',
  4: '14.',
  5: '15.',
  6: '16.',
  7: '17.'},
 1: {0: 'GIMENO GOMEZ, Yaretzi Izel',
  1: 'REMACHA ROYO, Itziar',
  2: 'RODRIGO MONFORTE, Lucia',
  3: 'SALUE√ëA LUCHA, Vera',
  4: 'BORREGUERO PEDREIRA, Leire',
  5: 'GALAY TORRIJO, Celia',
  6: 'MARIN PELEGRIN, Sara',
  7: 'MARIN PELEGRIN, Julia'},
 2: {0: '13', 1: '13', 2: '13', 3: '13', 4: '13', 5: '13', 6: '13', 7: '13'},
 3: {0: 'P. San Agustin',
  1: 'E.M. El Olivar',
  2: 'E.M. El Olivar',
  3: 'C.N. Helios',
  4: 'E.M. El Olivar',
  5: 'Stadium Venecia',
  6: 'H2ogo C.N.',
  7: 'H2ogo C.N.'},
 4: {0: '1:49.62',
  1: '1:53.45',
  2: '1:54.02',
  3: '1:57.72',
  4: '2:01.32',
  5: '2:03.50',
  6: '2:09.69',
  7: '2:09.74'},
 5: {0: '96', 1: '86', 2: '85', 3: '77', 4: '71', 5: '67', 6: '58', 7: '58'}}

t2b=pd.DataFrame(dic)

t2c=tablas[3].df[tablas[3].df[0]!=''][2:-2].drop(2,axis=1).T.reset_index(drop=True).T

t3=tablas[4].df[tablas[4].df[0]!=''][3:].drop(8,axis=1).T.reset_index(drop=True).T
t3 = separar_columna(separar_columna(t3,0).fillna(value=''),0,' ').fillna(value='')
t3 = juntar_columnas(juntar_columnas(t3,1,5),3,4)
t3[1]=t3[1].replace({'CASTILLOPRADO, Neus':'CASTILLO PRADO, Neus',
                       'LAMBANGAVE, Ines':'LAMBAN GAVE, Ines',
                     'SIMON HEREDIA,Ariadna':'SIMON HEREDIA, Ariadna',
                      'RAZABALINGELMO, Naiara':'RAZABAL INGELMO, Naiara',
                      'GIMENOMONREAL, Manuela':'GIMENO MONREAL, Manuela',
                      'PERALESCASAS, Laura':'PERALES CASAS, Laura',
                     'BARRACHINA ARTAZCOZ,Nahia':'BARRACHINA ARTAZCOZ, Nahia',
                      'ALONSOMORA,Naiara':'ALONSO MORA, Naiara',
                     'RAZABALINGELMO, Anahi':'RAZABAL INGELMO, Anahi',
                     'ORTEGAFRAGOSO, Emma':'ORTEGA FRAGOSO, Emma',
                     'RASAL ALVAREZ,Maria':'RASAL ALVAREZ, Maria',
                     'CEBRIANPUEYO, Carolina':'CEBRIAN PUEYO, Carolina',
                     'ROMEROLORENTE, Paula':'ROMERO LORENTE, Paula'                  
                      })
t3[3]=t3[3].replace({'C.N.Helios':'C.N. Helios',
                       'P. SanAgustin':'P. San Agustin',
                      })
t3b=tablas[5].df[tablas[5].df[0]!=''][3:].drop(8,axis=1).T.reset_index(drop=True).T
t3b = separar_columna(separar_columna(t3b,0).fillna(value=''),0,' ').fillna(value='')
t3b = juntar_columnas(juntar_columnas(t3b,1,6),3,4)
t3b[1]=t3b[1].replace({'CASTILLOPRADO, Neus':'CASTILLO PRADO, Neus',
                       'LAMBANGAVE, Ines':'LAMBAN GAVE, Ines',
                     'SIMON HEREDIA,Ariadna':'SIMON HEREDIA, Ariadna',
                      'RAZABALINGELMO, Naiara':'RAZABAL INGELMO, Naiara',
                      'GIMENOMONREAL, Manuela':'GIMENO MONREAL, Manuela',
                      'PERALESCASAS, Laura':'PERALES CASAS, Laura',
                     'BARRACHINA ARTAZCOZ,Nahia':'BARRACHINA ARTAZCOZ, Nahia',
                      'ALONSOMORA,Naiara':'ALONSO MORA, Naiara',
                     'RAZABALINGELMO, Anahi':'RAZABAL INGELMO, Anahi',
                     'ORTEGAFRAGOSO, Emma':'ORTEGA FRAGOSO, Emma',
                     'RASAL ALVAREZ,Maria':'RASAL ALVAREZ, Maria',
                     'CEBRIANPUEYO, Carolina':'CEBRIAN PUEYO, Carolina',
                     'ROMEROLORENTE, Paula':'ROMERO LORENTE, Paula'                  
                      })
t3b[3]=t3b[3].replace({'C.N.Helios':'C.N. Helios',
                       'P. SanAgustin':'P. San Agustin',
                      })

t4=separar_columna(tablas[6].df[tablas[6].df[0]!=''][2:],1)
t4.loc[19][1]='MODREGO MARQUETA, Alejandro'
t4.loc[19][2]='11'

# t4b=pd.read_csv('tabla_perdida3_20_02_22.csv',dtype=str, header=None).T.reset_index(drop=True).T
# t4b.to_dict()
dic={0: {0: '10.', 1: '11.'},
 1: {0: 'LOPEZ VELEZ, Marcos', 1: 'BEAMONTE MARTIN, Diego'},
 2: {0: '11', 1: '11'},
 3: {0: 'E.M. El Olivar', 1: 'P. San Agustin'},
 4: {0: '1:48.31', 1: '1:52.44'},
 5: {0: '133', 1: '119'}}
t4b=pd.DataFrame(dic)


t4c=tablas[7].df[tablas[7].df[0]!=''][2:-4]
t4c=separar_columna(t4c,1)

t5=tablas[8].df[tablas[8].df[0]!=''][2:]
t5=juntar_columnas(juntar_columnas(separar_columna(t5,0).fillna(value=''),1,5),3,4).drop(4,axis=1).T.reset_index(drop=True).T
t5[1]=t5[1].replace({'MENDEZSALVADOR, Carlos':'MENDEZ SALVADOR, Carlos',
                       'PETISMEROYO, Lucas':'PETISME ROYO, Lucas',
                     'RAMOS OLMOS,Diego':'RAMOS OLMOS, Diego',
                      'SANCHEZMERCADO, Adrian':'SANCHEZ MERCADO, Adrian',
                      'MOSTEOHIDALGO, Carlos':'MOSTEO HIDALGO, Carlos',
                      'BERDEJOLOBERA, Guillermo':'BERDEJO LOBERA, Guillermo',
                     'GREGORIO FERNANDEZ,Enrique':'GREGORIO FERNANDEZ, Enrique',
                      'JIMENEZLAFUENTE, Daniel':'JIMENEZ LAFUENTE, Daniel',
                     'SANCHEZSAEZ, Alejandro':'SANCHEZ SAEZ, Alejandro',
                     'SANZ BEJENARIU,Diego':'SANZ BEJENARIU, Diego',
                     'VICENTEBARRA,Guillen':'VICENTE BARRA, Guillen',
                     'RAZABALINGELMO, Angel':'RAZABAL INGELMO, Angel',
                     'NEVADOPEREZ, Lorien':'NEVADO PEREZ, Lorien',
                     'RAMOS OLMOS,Marcos':'RAMOS OLMOS, Marcos',
                      })
t5[3]=t5[3].replace({'C.N.Helios':'C.N. Helios',
                       'P. SanAgustin':'P. San Agustin',
                      })

t5b=tablas[9].df[tablas[9].df[0]!=''][2:]
t5b=juntar_columnas(juntar_columnas(separar_columna(separar_columna(t5b,0),0,' ').fillna(value=''),1,6),3,4).drop(4,axis=1).T.reset_index(drop=True).T
t5b[1]=t5b[1].replace({'MENDEZSALVADOR, Carlos':'MENDEZ SALVADOR, Carlos',
                       'PETISMEROYO, Lucas':'PETISME ROYO, Lucas',
                     'RAMOS OLMOS,Diego':'RAMOS OLMOS, Diego',
                      'SANCHEZMERCADO, Adrian':'SANCHEZ MERCADO, Adrian',
                      'MOSTEOHIDALGO, Carlos':'MOSTEO HIDALGO, Carlos',
                      'BERDEJOLOBERA, Guillermo':'BERDEJO LOBERA, Guillermo',
                     'GREGORIO FERNANDEZ,Enrique':'GREGORIO FERNANDEZ, Enrique',
                      'JIMENEZLAFUENTE, Daniel':'JIMENEZ LAFUENTE, Daniel',
                     'SANCHEZSAEZ, Alejandro':'SANCHEZ SAEZ, Alejandro',
                     'SANZ BEJENARIU,Diego':'SANZ BEJENARIU, Diego',
                     'VICENTEBARRA,Guillen':'VICENTE BARRA, Guillen',
                     'RAZABALINGELMO, Angel':'RAZABAL INGELMO, Angel',
                     'NEVADOPEREZ, Lorien':'NEVADO PEREZ, Lorien',
                     'RAMOS OLMOS,Marcos':'RAMOS OLMOS, Marcos',
                       'SANCHEZ SAEZ,Alejandro':'SANCHEZ SAEZ, Alejandro',
                       'DANIELROYO, Carlos':'DANIEL ROYO, Carlos',
                       'MARTINFERNANDEZ, Leo':'MARTIN FERNANDEZ, Leo',
                       'CUEZVAJORDAN, Hector':'CUEZVA JORDAN, Hector',
                       'ESTAUNLOPEZ,Marcos':'ESTAUN LOPEZ, Marcos',
                       'NEVADOPEREZ,Lorien':'NEVADO PEREZ, Lorien',
                       
                       
                      })
t5b[3]=t5b[3].replace({'C.N.Helios':'C.N. Helios',
                       'P. SanAgustin':'P. San Agustin',
                      })
# t6=pd.read_csv('tabla_perdida4_20_02_22.csv',dtype=str, header=None).T.reset_index(drop=True).T
# dic=t6.to_dict()

dic={0: {0: '1.', 1: '2.', 2: '3.', 3: '4.', 4: '5.'},
 1: {0: 'ESCORIHUELA AZNAR, Claudia',
  1: 'RODRIGUEZ SOLANAS, Ines',
  2: 'MALON CANTIN, Sofia',
  3: 'MALO SANCHEZ, Paula',
  4: 'REMACHA ROYO, Itziar'},
 2: {0: '13', 1: '13', 2: '13', 3: '13', 4: '13'},
 3: {0: 'E.M. El Olivar',
  1: 'E.M. El Olivar',
  2: 'C.N. Helios',
  3: 'C.N. Helios',
  4: 'E.M. El Olivar'},
 4: {0: '1:59.04', 1: '2:02.81', 2: '2:07.84', 3: '2:09.72', 4: '2:09.95'},
 5: {0: '143', 1: '130', 2: '116', 3: '111', 4: '110'}}
t6=pd.DataFrame(dic)


t6b=tablas[10].df[tablas[10].df[0]!=''][2:-4]

t6b.loc[13][1]='MARTINEZ MARQUES, Aimar Teresa'
t6b.loc[13][2]='13'

# t7=pd.read_csv('tabla_perdida5_20_02_22.csv',dtype=str, header=None).T.reset_index(drop=True).T
# dic=t7.to_dict()

dic={0: {0: '1.', 1: '2.', 2: '3.', 3: '4.', 4: '5.'},
 1: {0: 'CASTILLO PRADO, Neus',
  1: 'IOVU, Mireya',
  2: 'GIL FUENTES, Izarbe',
  3: 'BERGES ALAEZ, Africa',
  4: 'GIMENO MONREAL, Manuela'},
 2: {0: '12', 1: '12', 2: '12', 3: '12', 4: '12'},
 3: {0: 'E.M. El Olivar',
  1: 'P. San Agustin',
  2: 'Stadium Venecia',
  3: 'E.M. El Olivar',
  4: 'E.M. El Olivar'},
 4: {0: '3:36.21', 1: '3:53.82', 2: '3:56.09', 3: '3:57.59', 4: '3:58.62'},
 5: {0: '241', 1: '190', 2: '185', 3: '181', 4: '179'}}

t7=pd.DataFrame(dic)

t7b = tablas[11].df[tablas[11].df[0]!=''][2:-1].drop(8,axis=1).T.reset_index(drop=True).T
t7b = separar_columna(separar_columna(t7b,0).fillna(value=''),0,' ').fillna(value='')
t7b = juntar_columnas(juntar_columnas(t7b,1,6),3,4)
t7b[1]=t7b[1].replace({'CASTILLOPRADO, Neus':'CASTILLO PRADO, Neus',
                       'LAMBANGAVE, Ines':'LAMBAN GAVE, Ines',
                     'SIMON HEREDIA,Ariadna':'SIMON HEREDIA, Ariadna',
                      'RAZABALINGELMO, Naiara':'RAZABAL INGELMO, Naiara',
                      'GIMENOMONREAL, Manuela':'GIMENO MONREAL, Manuela',
                      'PERALESCASAS, Laura':'PERALES CASAS, Laura',
                     'BARRACHINA ARTAZCOZ,Nahia':'BARRACHINA ARTAZCOZ, Nahia',
                      'ALONSOMORA,Naiara':'ALONSO MORA, Naiara',
                     'RAZABALINGELMO, Anahi':'RAZABAL INGELMO, Anahi',
                     'ORTEGAFRAGOSO, Emma':'ORTEGA FRAGOSO, Emma',
                     'RASAL ALVAREZ,Maria':'RASAL ALVAREZ, Maria',
                     'CEBRIANPUEYO, Carolina':'CEBRIAN PUEYO, Carolina',
                     'ROMEROLORENTE, Paula':'ROMERO LORENTE, Paula',
                     'SIMONHEREDIA, Ariadna':'SIMON HEREDIA, Ariadna',
                     
                      })
t7b[3]=t7b[3].replace({'C.N.Helios':'C.N. Helios',
                       'P. SanAgustin':'P. San Agustin',
                      })

In [80]:
# Liga Benjamin

competicion = 'Benjam√≠n, jornada 5'
lugar = 'P. San Agustin'
fecha = datetime.datetime(2022,3,27)


lista_df=[
tabla_a_datos(t0, fila_datos = 0, fecha=fecha, prueba='100m Espalda', m_f='M', tipo=1, competicion=competicion, lugar= lugar),
tabla_a_datos(t4, fila_datos = 0, fecha=fecha, prueba='50m Espalda', m_f='M', tipo=1, competicion=competicion, lugar= lugar),

    # tabla_a_datos(t1, fila_datos = 0, fecha=fecha, prueba='200m Libre', m_f='M', tipo=1, competicion=competicion, lugar= lugar),
# tabla_a_datos(t1b, fila_datos = 0, fecha=fecha, prueba='200m Libre', m_f='M', tipo=1, competicion=competicion, lugar= lugar),
# tabla_a_datos(t2, fila_datos = 0, fecha=fecha, prueba='100m Libre', m_f='F', tipo=1, competicion=competicion, lugar= lugar),
# tabla_a_datos(t2b, fila_datos = 0, fecha=fecha, prueba='100m Libre', m_f='F', tipo=1, competicion=competicion, lugar= lugar),
# tabla_a_datos(t2c, fila_datos = 0, fecha=fecha, prueba='100m Libre', m_f='F', tipo=1, competicion=competicion, lugar= lugar),
# tabla_a_datos(t3, fila_datos = 0, fecha=fecha, prueba='200m Libre', m_f='F', tipo=1, competicion=competicion, lugar= lugar),
# tabla_a_datos(t3b, fila_datos = 0, fecha=fecha, prueba='200m Libre', m_f='F', tipo=1, competicion=competicion, lugar= lugar),
# tabla_a_datos(t4, fila_datos = 0, fecha=fecha, prueba='100m Braza', m_f='M', tipo=1, competicion=competicion, lugar= lugar),
# tabla_a_datos(t4b, fila_datos = 0, fecha=fecha, prueba='100m Braza', m_f='M', tipo=1, competicion=competicion, lugar= lugar),
# tabla_a_datos(t4c, fila_datos = 0, fecha=fecha, prueba='100m Braza', m_f='M', tipo=1, competicion=competicion, lugar= lugar),
# tabla_a_datos(t5, fila_datos = 0, fecha=fecha, prueba='200m Braza', m_f='M', tipo=1, competicion=competicion, lugar= lugar),
# tabla_a_datos(t5b, fila_datos = 0, fecha=fecha, prueba='200m Braza', m_f='M', tipo=1, competicion=competicion, lugar= lugar),
# tabla_a_datos(t6, fila_datos = 0, fecha=fecha, prueba='100m Braza', m_f='F', tipo=1, competicion=competicion, lugar= lugar),
# tabla_a_datos(t6b, fila_datos = 0, fecha=fecha, prueba='100m Braza', m_f='F', tipo=1, competicion=competicion, lugar= lugar),
# tabla_a_datos(t7, fila_datos = 0, fecha=fecha, prueba='200m Braza', m_f='F', tipo=1, competicion=competicion, lugar= lugar),
# tabla_a_datos(t7b, fila_datos = 0, fecha=fecha, prueba='200m Braza', m_f='F', tipo=1, competicion=competicion, lugar= lugar),

 ]

for d in lista_df :
    display(d)
    
    
campos_calculados(pd.concat(lista_df)).to_csv('competicion_'+competicion+'.csv', index=False)

,Puesto,Nombre,Anyo_nac,Club,Tiempo,Pts,Fecha,Prueba,Piscina,M_F,Competicion,Lugar
0,1.,"MARCO LOPEZ, Leo",11,C.N. Helios,1:24.38,187,2022-03-27,100m Espalda,25m,M,"Benjam√≠n, jornada 5",P. San Agustin
1,2.,"LOPEZ VELEZ, Marcos",11,E.M. El Olivar,1:27.66,167,2022-03-27,100m Espalda,25m,M,"Benjam√≠n, jornada 5",P. San Agustin
2,3.,"CAVERO GARCIA, Daniel",11,Stadium Casablanca,1:28.42,163,2022-03-27,100m Espalda,25m,M,"Benjam√≠n, jornada 5",P. San Agustin
3,4.,"MODREGO MARQUETA, Alejandro",11,Stadium Venecia,1:28.70,161,2022-03-27,100m Espalda,25m,M,"Benjam√≠n, jornada 5",P. San Agustin
4,5.,"SERRABLO HUESO, Diego",11,Stadium Venecia,1:29.12,159,2022-03-27,100m Espalda,25m,M,"Benjam√≠n, jornada 5",P. San Agustin
5,6.,"BESCOS RODRIGUEZ, Jesus",11,E.M. El Olivar,1:31.00,149,2022-03-27,100m Espalda,25m,M,"Benjam√≠n, jornada 5",P. San Agustin
6,7.,"TATARU, Adrian Stefan",11,E.M. El Olivar,1:31.51,147,2022-03-27,100m Espalda,25m,M,"Benjam√≠n, jornada 5",P. San Agustin
7,8.,"ANGUAS FELIZ, Aquiles",11,E.M. El Olivar,1:32.75,141,2022-03-27,100m Espalda,25m,M,"Benjam√≠n, jornada 5",P. San Agustin
8,9.,"RODRIGUEZ ARTIEDA, Marcelo",11,C.N. Helios,1:33.59,137,2022-03-27,100m Espalda,25m,M,"Benjam√≠n, jornada 5",P. San Agustin
9,10.,"BELTRAN VIEJO, Arturo",11,E.M. El Olivar,1:35.11,131,2022-03-27,100m Espalda,25m,M,"Benjam√≠n, jornada 5",P. San Agustin
10,11.,"SANCHO GRAUS, Bruno",11,E.M. El Olivar,1:37.34,122,2022-03-27,100m Espalda,25m,M,"Benjam√≠n, jornada 5",P. San Agustin
11,12.,"LAFUENTE GARCIA, Victor",11,C.N. Helios,1:39.42,114,2022-03-27,100m Espalda,25m,M,"Benjam√≠n, jornada 5",P. San Agustin
12,13.,"POLO MARTINEZ, Nicolas",11,C.N. Helios,1:40.26,112,2022-03-27,100m Espalda,25m,M,"Benjam√≠n, jornada 5",P. San Agustin
13,14.,"ROMERO SANTOS, Kilian",11,C.N. Helios,1:42.06,106,2022-03-27,100m Espalda,25m,M,"Benjam√≠n, jornada 5",P. San Agustin
14,15.,"BORROY SANCHEZ, Martin",11,Stadium Casablanca,1:42.47,104,2022-03-27,100m Espalda,25m,M,"Benjam√≠n, jornada 5",P. San Agustin
15,16.,"MARTINEZ ANTUNEZ, Roman",11,Stadium Venecia,1:43.15,102,2022-03-27,100m Espalda,25m,M,"Benjam√≠n, jornada 5",P. San Agustin
16,17.,"FANDOS MARCO, Carlos",11,E.M. El Olivar,1:43.20,102,2022-03-27,100m Espalda,25m,M,"Benjam√≠n, jornada 5",P. San Agustin
17,18.,"NAVARRO PARDOS, Francisco",11,H2ogo C.N.,1:45.10,97,2022-03-27,100m Espalda,25m,M,"Benjam√≠n, jornada 5",P. San Agustin
18,19.,"FABRE GARCIA, Guillermo",11,E.M. El Olivar,1:46.10,94,2022-03-27,100m Espalda,25m,M,"Benjam√≠n, jornada 5",P. San Agustin
19,20.,"ALCALDE MARTINEZ, Martin",11,C.N. Helios,1:47.57,90,2022-03-27,100m Espalda,25m,M,"Benjam√≠n, jornada 5",P. San Agustin
20,21.,"GARCIA DE LA SERNA, Alejandro",11,C.N. Helios,1:50.74,83,2022-03-27,100m Espalda,25m,M,"Benjam√≠n, jornada 5",P. San Agustin
21,22.,"BARCELONA PERALES, Beltran",11,E.M. El Olivar,1:58.54,67,2022-03-27,100m Espalda,25m,M,"Benjam√≠n, jornada 5",P. San Agustin
22,23.,"QUINTANILLA CARBAJO, Amaro",11,H2ogo C.N.,2:09.20,52,2022-03-27,100m Espalda,25m,M,"Benjam√≠n, jornada 5",P. San Agustin

Hacemos un resumen de los datos contando el n√∫mero de nadadores por club:

In [81]:
# Resumen de datos

df=pd.read_csv('competicion_'+competicion+'.csv')

#df.pivot_table(df, values = 'Nombre',index='M_F', columns=['Club','Anyo_nac'], aggfunc=lambda x: len(x.unique()))
df.pivot_table(values = 'Nombre', columns='M_F', index=['Club','Anyo_nac'], aggfunc=lambda x: len(x.unique())).unstack().fillna(0).astype(int)

M_F                 M
Anyo_nac           11
Club
C.N. Helios         7
E.M. El Olivar      9
H2ogo C.N.          2
Stadium Casablanca  2
Stadium Venecia     3

Por √∫ltimo, a√±adimos todas las competiciones al archivo *base_datos.csv*:

In [82]:
# Actualizamos la base de datos

import glob

# Buscamos todos los ficheros csv correspondientes a competiciones los concatenamos y los grabamos en base de datos

lista_competiciones = glob.glob('competicion*.csv')
# lista_competiciones.reverse()
lista_competiciones.sort()
df=pd.concat([pd.read_csv(comp) for comp in lista_competiciones])
# df.sort_values(by='Fecha').to_csv('base_datos.csv', index=False)
df.to_csv('base_datos.csv', index=False)

# lista_competiciones.reverse()
lista_competiciones

['competicion_Benjam√≠n, jornada 1.csv',
 'competicion_Benjam√≠n, jornada 2.csv',
 'competicion_Benjam√≠n, jornada 3.csv',
 'competicion_Benjam√≠n, jornada 4.csv',
 'competicion_Benjam√≠n, jornada 5.csv']